.App{
    margin: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
  }

.box{
    z-index: 2;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    position: relative;
    width: 45vw;
    top: 3.5vh;
    left: 25vw;
  }
.nums{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: 2px solid black;
    box-shadow: 2px 2px 2px;
  }
.bar{
    z-index: 1;
    position: relative;
    top: 0;
    width: 44vw;
    left: 26vw;
  }
.text{
    text-align: center;
    position: relative;
    top: 2rem;
    font-size: 25px;
  }
  
.buttonDiv{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 26vh;
    width: 100vw;
    gap: 20px;
  }


.card {
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 900;
  }
  
  @property --bg-angle {
    inherits: false;
    initial-value: 0deg;
    syntax: "<angle>";
  }
  
  @keyframes spin {
    to {
      --bg-angle: 360deg;
    }
  }

  
article {
    animation: spin 2.5s infinite linear;
    background:
      linear-gradient(to bottom,
        oklch(0.1 0.2 240 / 0.95),
        oklch(0.1 0.2 240 / 0.95)) padding-box,
      conic-gradient(from var(--bg-angle) in oklch longer hue,
        oklch(0.85 0.37 0) 0 0) border-box;
    border: 6px solid transparent;
  }
  
main {
    background:
      radial-gradient(circle,
        oklch(0.15 0.2 330 / 0),
        oklch(0.15 0.2 330 / 1)),
      linear-gradient(344deg in oklch,
        oklch(0.3 0.37 310),
        oklch(0.35 0.37 330),
        oklch(0.3 0.37 310));
    display: grid;
    height: 100svh;
    place-items: center;
  }
  
article {
    border-radius: 1rem;
    box-shadow: 0rem 0.5rem 0.5rem 0rem oklch(0.1 0.37 315 / 0.25);
    color: white;
    padding: 0rem 0rem 1rem 1rem;
    width: min(108px, 90vw);
  }
  
h1 {
    line-height: 1.1;
    margin: 0;
  }
  
p {
    margin: 0;
  }

.card{
  position: absolute;
  top: 2vh;
  left: 35vw;
}